.nav {
    grid-area: n;
    background-color: #b4d1ea;
    text-align: center;
    padding: 20px;
}

.item a {
    color: #ffffff;
    text-decoration: none;
}

.item a.activeLink {
    color: #11395c;
}