.content {
    grid-area: c;
    background-color: #e4fff8;
    margin-left: 5px;
    display: grid;
    border: 1px solid  #11395c;
} 

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items{
    padding: 10px;
    color: #ffffff;
}

.dialogs_items .active {
    color: #ffd700;
}

.dialog {

}

.messages {
    padding: 10px;
}

.messages .message {
    color: #ffffff;
}
